* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Odibee Sans', cursive, sans-serif;
    background-color: #f1fcf8;
    display: flex;
    font-size: 32px;
}

button {
  padding: 0.5em;
  border-radius: 0.25em;
  font-family: 'Odibee Sans', cursive, sans-serif;
  margin: 0.5em;
  font-size: 1em;
}

h1, h3, h6 {
  padding-top: .5em;
  padding-bottom: .5em;
}

header {
    width: 100%;
    display: block;
    background-color: pink;
    padding: 1% 2% 2%;
    margin-bottom: 1%;
}

main {
  margin: 0 auto;
  position: relative;
}
  

.enter-message {
  background-color: #fff;
  margin: 2em auto;
  padding: 2em;
  text-align: center;
  border: 10px #000 solid;
  border-radius: 1em;
}

.game-container {
    width: 300px;
    height: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 110px 0 0 -170px;
}

.game-title {
  text-align: center;
}

.squares {
    position: absolute;
    text-align: center;
    /* margin: 5em; */
    /* height: 100vh; */
    padding: 1%;
    
}

.squares div {
    margin: 0.75%;
    /* padding: 1%; */
    display: inline-block;
    height: 25px;
    width: 25px;
    /* box-shadow: 0.25em 0.25em 0px 0px grey; */
    border: .15em black solid;
    background-color: rgb(96, 150, 186);
}

.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}

.welcome-container {
  display: flex;
  justify-content: center;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media screen and (max-width: 390px) {
  .enter-message {
    margin: .25em;
    border: 5px #000 solid;
  }

  .squares div {
    width: 1em;
    height: 1em;
    border: .1em black solid;
  }

  .game-container {
    margin: .25em;
  }
}