* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f1fcf8;
}



header {
    width: 100%;
    display: block;
    background-color: pink;
    padding: 1% 2% 2%;
    margin-bottom: 1%;
}

.squares {
    text-align: center;
    margin: 5em;
    /* padding: 1%; */
    
}

.squares div {
    margin: 0.75%;
    padding: 1%;
    display: inline-block;
    height: 4em;
    width: 4em;
    /* box-shadow: 0.25em 0.25em 0px 0px grey; */
    border: .25em black solid;
    background-color: rgb(96, 150, 186);
}