* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Odibee Sans', cursive, sans-serif;
    background-color: #f1fcf8;
    display: flex;
    font-size: 32px;
}

button {
  padding: 0.5em;
  border-radius: 0.25em;
  font-family: 'Odibee Sans', cursive, sans-serif;
  margin: 0.5em;
  font-size: 1em;
}

h1, h3, h6 {
  padding-top: .5em;
  padding-bottom: .5em;
}

header {
    width: 100%;
    display: block;
    background-color: pink;
    padding: 1% 2% 2%;
    margin-bottom: 1%;
}

main {
  margin: 2em auto;
  position: relative;
  opacity: 1;
  animation-name: fadeInWelcomeContainer;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
  

.enter-message {
  background-color: #fff;
  margin: 2em auto;
  padding: 2em;
  text-align: center;
  border: 10px #000 solid;
  border-radius: 1em;
}

.game-container {
    width: 300px;
    height: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 110px 0 0 -170px;
}

.game-title {
  text-align: center;
  font-size: 1em;
  /* background-color: red; */
}


.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}

.squares {
    position: absolute;
    text-align: center;
    background-color: lightgoldenrodyellow;
    /* margin: 5em; */
    /* height: 100vh; */
    padding: 2%;
    border: .15em black solid;
    border-radius: 5%;
}

.squares div {
    margin: 0.75%;
    /* padding: 1%; */
    display: inline-block;
    height: 25px;
    width: 25px;
    /* box-shadow: 0.25em 0.25em 0px 0px grey; */
    border: .15em black solid;
    background-color: rgb(96, 150, 186);
}

.welcome-container {
  display: flex;
  justify-content: center;
}

@keyframes fadeInWelcomeContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media screen and (max-width: 390px) {
  .enter-message {
    font-size: .75em;
    margin: .25em;
    border: 5px #000 solid;
  }

  .squares div {
    width: .75em;
    height: .75em;
    border: .1em black solid;
    padding: 0;
  }

  .game-container {
    margin: .25em;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
  }
}

@media screen and (max-width: 280px) {
  .game-container {
    width: 268px;
  }

  .squares {
    margin: 0 .25em 0 .25em;
  }
}